html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  padding-left: 64px;
  padding-right: 64px;
}

.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found h1{
  color: rgb(110, 110, 110);
}